.main{
  height:100%;
  width:100%;
}
.flexLeft{
  display:flex;
  flex-wrap:wrap;
}
#ztw_textEditor{
  overflow: auto;
}
.container{
  border:1px solid gainsboro;
  padding:5px;
  border-radius:5px;
}
:host{
  display:inline-block;
}
:host /deep/ .mr1{
  margin-right:1rem;
}
:host /deep/ .input{
  height:1.5rem;
  outline:none;
  padding:2px;
  border:1px solid gainsboro;
  border-radius:5px;
  margin-left:5px;
  background:transparent;
}

:host /deep/ .between{
  display:flex;
  justify-content: space-between;
  align-items: center;
       }
:host /deep/ .full{
  width:100%;
  height:100%;
  position:relative;
  outline: none;
}
:host /deep/ .center{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
:host /deep/ .dbBtn:hover{
  border:1px solid gainsboro;
}
:host /deep/ .dbBtn{
  border:1px solid transparent;
}
:host /deep/ .btn{
  display:inline-block;
  outline:none;
  padding:10px;
  border-radius:5px;
}
:host /deep/ .muted{
  color:gray;
  font-size:12px;
}
:host /deep/ .btn:hover{
  background:gainsboro;
  cursor: pointer;
}
:host /deep/ .btn-icon{
  border-width:0;
  background:transparent;
  font-size:1rem;
}
:host /deep/ .btn-default{
  box-shadow: 0 0 10px 2px gainsboro;
  border:1px solid white;
  color:gray;
  background:white;
  transition:box-shadow 0.4s;
}
:host /deep/ .btn-default:hover{
  background:white;
  box-shadow: 0 0 30px 2px gainsboro;
}
:host /deep/ .btn-default:active{
  box-shadow:0 0 2px gray;
}
:host /deep/ .btn[disabled]{
  color:gainsboro;

  box-shadow: none;
}
:host /deep/ .btn[disabled]:hover{
  box-shadow: none;
  background:transparent;
  cursor:not-allowed;
}
:host /deep/ .btn2{
  height:100%;
  background:transparent;
  padding-left:4px;
  outline:none;
  font-size:1rem;
  border-width:0;
  padding-right:4px;
}
:host /deep/ .btn2:hover{
  cursor:pointer;
  background:gainsboro;
}
.btn-group{
  display:flex;
}
.btn-group .btn{
  border-radius:0;
}
.btn-group .btn:first-child{
  border-radius:5px 0 0 5px;
}
.btn-group .btn:last-child{
  border-radius:0 5px 5px 0;
}
