:host{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  top:0;
  left:0;
  background:rgba(255,255,255,0.5);
  position:absolute;
}
.container{
  border-radius:5px;
  border:1px solid gainsboro;
  background:rgba(255,255,255,0.9);
}
.title{
  padding:5px;
  background:rgb(235,235,235);
  color:gray;
}
.inner{
  padding:1rem;
}
.close:hover{
  text-shadow: 0 1px 1px black;
  cursor:pointer;
}
